<h1>Welcome to Challenge 2: RESTful CRUD</h1>

<h2 class="nav_headers">
<input class="notes" type="submit" value="Show All Notes">
</h2>

<h2 class="nav_headers">
<input class="users" type="submit" value="Show All Users">
</h2>

<div class="content"></div>

